*{
    margin: 0 , auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1320px auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* common css end */

/* navbar start */